ion-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  text-align: center;
}

ion-img {
  max-width: 100%;
  margin-top: 20px;
}

ion-fab-button {
  background-color: var(--ion-color-primary);
}
