<ion-header>
  <ion-toolbar>
    <ion-title>{{ task.id ? 'Editar Tarea' : 'Nueva Tarea' }}</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Título</ion-label>
      <ion-input [(ngModel)]="task.title"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Descripción</ion-label>
      <ion-input [(ngModel)]="task.description"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de Vencimiento</ion-label>
      <ion-datetime displayFormat="YYYY-MM-DD" [(ngModel)]="task.dueDate"></ion-datetime>
    </ion-item>
  </ion-list>

  <ion-button expand="block" (click)="saveTask()">Guardar</ion-button>
</ion-content>
