<ion-header>
  <ion-toolbar>
    <ion-title>
      Iniciar Sesión
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="logo-container">
    <img src="assets/R.png" alt="Logo de la empresa">
  </div>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Correo electrónico</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button expand="block" (click)="login()">Iniciar Sesión</ion-button>
</ion-content>
